<% content_for :page_title, "Homepage" %>

<nav class="filters">
  <%= active_link_to "All restaurants", root_path, active: { price: nil, cuisine: nil, location: nil } %>

<div>
  <%= active_link_to "$", root_path(price: 1, cuisine: @cuisine, location: @location), active: { price: 1 } %>
  <%= active_link_to "$$", root_path(price: 2, cuisine: @cuisine, location: @location), active: { price: 2 } %>
  <%= active_link_to "$$$", root_path(price: 3, cuisine: @cuisine, location: @location), active: { price: 3 } %>
</div>

<div>
  <%= active_link_to "indian", root_path(cuisine: "indian", price: @price, location: @location), active: { cuisine: "indian" } %>
  <%= active_link_to "mexican", root_path(cuisine: "mexican", price: @price, location: @location), active: { cuisine: "mexican" } %>
  <%= active_link_to "american", root_path(cuisine: "american", price: @price, location: @location), active: { cuisine: "american" } %>
  <%= active_link_to "french", root_path(cuisine: "french", price: @price, location: @location), active: { cuisine: "french" } %>
  <%= active_link_to "italian", root_path(cuisine: "italian", price: @price, location: @location), active: { cuisine: "italian" } %>
  <%= active_link_to "modern australian", root_path(cuisine: "modern australian", price: @price, location: @location), active: { cuisine: "modern australian" } %>
</div>


<form action="/">

  <input type="text" name="location"
  placeholder="Search location..." value="<%= @location %>">

  <input type="hidden" name="price" value="<%= @price %>">
  <input type="hidden" name="cuisine" value="<% @cuisine %>">
</form>

</nav>

  <% @reviews.each do |review| %>

<div class="review">
  <%= link_to review_path(review) do %>

<%= image_tag review.photo.thumb %>

    <h2><%= review.title %> </h2>
    <p><%= review.cuisine %> -
       <%= pluralize review.comments.count, "comment"%>

    </p>

  <% end %>
</div>

<% end %>
